/* Only apply styles to images within a button on the main pitch area */
button[data-pitch-element="true"] img.e4m1qw0 {
    background-color: transparent;
    border-radius: 0;
}

/* This is the container for the player info on the pitch */
button[data-pitch-element="true"] ._5supsj3 {
    position: relative; /* Anchor for the price overlay */
    height: 100%;
}

/* Style for the player's price to overlay it on the photo */
button[data-pitch-element="true"] ._5supsj4 {
    position: absolute;
    top: 5px; /* Position it 5px from the top */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content; /* Adjust width to content */
    z-index: 1;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2px 6px;
    border-radius: 3px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
}

/* Ensure the info/substitute icons are on top of the player photo and price */
.rbwqxk1, .rbwqxk4 {
    z-index: 2;
}